<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8Q064ZHL1Q"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8Q064ZHL1Q');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCLP Official</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/screens.css">
</head>
<body>
    <div id="main">
        <div id="navigation">
            <div id="links"></div>
            <img src="/static/images/discord.webp" id="discord">
            <input type="text" id="checklist-player" placeholder="Player...">
        </div>
        <div id="home-page">
            <h1>Soul Crushing Leaderboard Project</h1>
            <h2>
                <a href="https://discord.gg/t9crQndHyn" target="_blank">Join the Discord Server to submit completions</a>
            </h2>
            <div id="credits"></div>
        </div>
        <div id="towers-page">
            <div id="left">
                <div id="searchmenu">
                    <table id="searchmenu-table"></table>
                </div>
            </div>
            <div id="right">
                <div id="right-panel">
                    <div id="options">
                        <h1>The List</h1>
                        <div class="filter-section" id="search-filter">
                            <input type="text" id="sclp-tower-search" placeholder="Search...">
                        </div>
                        <div class="filter-section" id="difficulty-filter">
                            <p>Difficulty:</p>
                            <div class="checkbox-group">
                                <label><input type="checkbox" id="diff-8" checked> Insane</label>
                                <label><input type="checkbox" id="diff-9" checked> Extreme</label>
                                <label><input type="checkbox" id="diff-10" checked> Terrifying</label>
                                <label><input type="checkbox" id="diff-11" checked> Catastrophic</label>
                                <label><input type="checkbox" id="diff-12" checked> Horrific</label>
                                <label><input type="checkbox" id="diff-13" checked> Unreal</label>
                            </div>
                        </div>
                        <div class="filter-section" id="game-filter">
                            <label>Game: <select name="game-select" id="game-select"></select></label>
                            <label>Sort by: 
                                <select id="tower-sort">
                                    <option value="difficulty" selected>Difficulty (↓)</option>
                                    <option value="difficulty-asc">Difficulty (↑)</option>
                                    <option value="victors">Victors (↓)</option>
                                    <option value="victors-asc">Victors (↑)</option>
                                </select>
                            </label>
                        </div>
                    </div>
            
                    <div id="tower-data">
                        <p class="big" id="towername"></p> <br>
                        <p>Difficulty: <span id="towerdifficulty"></span></p>
                        <p>Location: <span id="towerlocation"></span></p>
                        <p class="small" id="otherlocations"></p>
                        <p>Rank: #<span id="towerrank"></span></p>
                        <p>XP for completion: <span id="towerxp"></span></p>
                        <p>Victors: <span id="towervictors"></span></p>
                        <p class="small"><i>Tower ID: <span id="towerid"></span></i></p><br>

                        <p class='big'>Victors</p>
                        <table id="towervictorstable"></table>
                    </div>
                </div>
            </div>
        </div>
        <div id="leaderboard-page">
            <div id="left">
                <div id="leaderboard">
                    <table id="leaderboard-table"></table>
                </div>
            </div>
            <div id="right">
                <div id="right-panel">
                    <div id="leaderboard-header">
                        <h1>The Top Obbyists</h1>
                        <input type="text" id="sclp-player-search" placeholder="Search...">
                        <select id="player-sort">
                            <option value="xp">By Level/XP</option>
                            <option value="completions">Most SCs</option>
                            <option value="hardest">Hardest Tower</option>
                        </select>
                    </div>
        
                    <div id="player-data">
                        <p class="big" id="playername"></p>
                        <p id="playerrole"></p><br>
        
                        <p>Total XP: <span id="playerxp"></span></p>
                        <p>Level: <span id="playerlevel"></span></p>
                        <p>Rank: <span id="playerrank"></span></p><br>
        
                        <p class="big">Stats</p>
                        <table id="difficulty-progress"></table><br>

                        <p class='big'>Packs</p>
                        <div id="playerpacks"></div><br>
        
                        <p class='big'>Completions</p>
                        <table id="playercompletions"></table>
                    </div>
                </div>
            </div>
        </div>
        <div id="packs-page">
            <div id="left">
                <div id="packs">
                    <table id="packs-table"></table>
                </div>
            </div>
            <div id="right">
                <div id="right-panel">
                    <div id="packs-header">
                        <h1>Packs</h1>
                    </div>
                    <div id="pack-data">
                        <p class="big" id="packname"></p>
                        <p>Progress: <span id="packprogress"></span></p>
                        <p>Bonus XP: <span id="packbonus"></span></p>
                        <p>Victors: <span id="packvictors"></span></p><br>
                        <p class="big">Towers</p>
                        <table id="packtowers-table"></table><br>
                        <p class="big">Victors</p>
                        <table id="packvictorstable"></table>
                    </div>
                </div>
            </div>
        </div>
        <div id="scotw-page" style="display:none;">
            <div id="scotw-container">
                <div id="scotw-header">
                    <h1 id="scotw-title">TOWER OF THE WEEK</h1>
                    <p id="scotw-timer">Next tower in: 5d 12h 34m</p>
                </div>
        
                <div id="scotw-search-wrapper">
                    <input type="text" id="scotw-search" placeholder="Search player...">
                </div>
        
                <div id="scotw-leaderboard">
                    <table id="scotw-table"></table>
                </div>
            </div>
        </div>
    </div>

    <script>
        completions = {{ all_completions | tojson }};
        towers = {{ all_towers | tojson }};
        games = {{ all_games | tojson }};
        packs = {{ packs | tojson }};
        cool_members = {{ cool_members | tojson }};
        rawcredits = {{ credits | tojson }};
        scotw_points = {{ scotw_points | tojson }};
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/misc.js"></script>
    <script src="/static/js/towermanager.js"></script>
</body>
</html>
